
@model LibraryManagement.Models.Entity.TblYazar

@{
    ViewBag.Title = "YazarGetir";
    Layout = "~/Views/Shared/Layout.cshtml";
}
<br />

<h2 style="text-align:center;">Yazar Güncelleme Sayfası</h2>
<br />

@using (Html.BeginForm("YazarGüncelle", "Yazar", FormMethod.Post))
{
    <div style="margin-top:15px;" class="form-group">
        <label>Yazar ID</label>
        @Html.TextBoxFor(x => x.Id, new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;" class="form-group">
        <label>Yazar Ad</label> 
        @Html.TextBoxFor(x => x.Ad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Ad)
    </div>
    <div style="margin-top:15px;" class="form-group">
        <label>Yazar Soyad</label>
        @Html.TextBoxFor(x => x.Soyad, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.Soyad)
    </div>
    <div style="margin-top:15px;" class="form-group">
        <label>Detay</label>
        @Html.TextAreaFor(x => x.Detay, new { @class = "form-control" })
    </div>

    <button class="btn btn-warning">GÜNCELLE</button>
}
