@using LibraryManagement.Models.Entity
@using PagedList;
@using PagedList.Mvc;
@model PagedList.IPagedList<TblUyeler>


@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<br />

<h2 style="text-align:center;">Üye İşlemleri</h2>
<br />


<table class="table table-striped">
    <tr>
        <th>Üye ID</th>
        <th>Üye Adı</th>
        <th>Üye Soyadı</th>
        <th>Mail</th>
        <th>KullanıcıAdı</th>
        <th>Şifre</th>
        <th>Telefon</th>
        <th>Okul</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Ad</td>
            <td>@item.Soyad</td>
            <td>@item.Mail</td>
            <td>@item.KullanıcıAdı</td>
            <td>@item.Sifre</td>
            <td>@item.TelefonNo</td>
            <td>@item.Okul</td>
            <td>@Html.ActionLink("Sil", "ÜyeSil", new { id = item.Id }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Üye/ÜyeGetir/@item.Id" class="btn btn-success">Güncelle</a></td>
        </tr>
    }
</table>

@Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Index", new { sayfa }))

<a href="/Üye/ÜyeEkle" class="btn btn-primary">Yeni Üye Ekle</a>